<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container d-flex flex-column justify-content-between">
    <div>
      <h2 class="default-color mt-4">Today's Status</h2>
      <ion-card class="my-3">
        <div class="d-flex justify-content-between px-3 py-4" >
          <div class="d-flex flex-column">
            <span class="fs-5">Morning</span>
            <span class="fs-6 fw-bold">{{!!todayAttendance && todayAttendance.morning.length > 0 ? todayAttendance.morning : '--/--'}}</span>
          </div>
          <div class="d-flex flex-column">
            <span class="fs-5">Evening</span>
            <span class="fs-6 fw-bold">{{!!todayAttendance &&todayAttendance.evening.length > 0 ? todayAttendance.evening : '--/--'}}</span>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <ng-container *ngIf="!loggedBoth ; else logged">
        <ion-button *ngIf="currentTime !== timeEnum.none; else cantGive" (click)="logTodayAttendance()">
          Give attendance
        </ion-button>
        <ng-template #cantGive>
          <span class="fs-6 default-color" *ngIf="hourDetails.length >= 2">Attendance can be given between
            <b>{{hourDetails[1].time}} {{hourDetails[1].startTime}}</b> to <b>{{hourDetails[1].endTime}}</b>
            and <b>{{hourDetails[0].time}} {{hourDetails[0].startTime - 12}}</b> to <b>{{hourDetails[0].endTime -
              12}}</b>
          </span>
        </ng-template>
      </ng-container>
      <ng-template #logged>
        <span class="fs-6 default-color">You have loogged your attendance for the day. Kindly log back tomorrow. Thanks.</span>
      </ng-template>
    </div>
  </div>
</ion-content>
