.mark-icon {
  color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 3px;
}
.info-card{
  background: rgb(255, 229, 229);
  color: darkolivegreen;
  border-radius: 10px;
}
.date-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px;

  input {
    height: 50px;
    border-radius: 10px;
    padding: 0 10px;
  }
}


input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
