<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Student Today's Attendace
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Student Today's Attendace</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="d-flex justify-content-evenly mt-4 px-2">
    <ion-item lines="none">
      <ion-select placeholder="Select class" [(ngModel)]="selectedClass">
        <ion-select-option value="1">B Tech</ion-select-option>
        <ion-select-option value="2">M Tech</ion-select-option>
        <ion-select-option value="3">Diploma</ion-select-option>
        <ion-select-option value="4">+2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item lines="none">
      <ion-select placeholder="Select Year" [(ngModel)]="selectedYear">
        <ion-select-option value="1">1st Year</ion-select-option>
        <ion-select-option value="2">2nd Year</ion-select-option>
        <ion-select-option value="3">3rd Year</ion-select-option>
        <ion-select-option value="4">4th Year</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
  <ion-item class="p-3 ">
    <ion-input [(ngModel)]="regdNo" placeholder="Registration no (Optional)"></ion-input>
  </ion-item>
  <div class="d-flex justify-content-evenly my-2">
    <ion-button (click)="findAttendance()">Search</ion-button>
    <ion-button (click)="findAttendance(true)">Search All</ion-button>
  </div>
  <ng-container *ngIf="attendances.length > 0; else noRecordFound">
    <ion-card class="p-2 info-card">
      <p class="mb-0 fw-bold d-flex justify-content-between">
        <span>Total attendance: {{attendances.length}}</span> &nbsp;&nbsp; <span>Full attendance: {{fullAttend}}</span>
      </p>
      <p class="mb-0 fw-bold">Only morning attendance: {{morningAttend}}</p>
      <p class="mb-0 fw-bold">Only evening attendance: {{eveningAttend}}</p>
    </ion-card>
    <ion-card *ngFor="let attendance of attendances">
      <ion-card-header class="d-flex justify-content-between pb-0">
        <ion-card-title>Date: {{attendance.dateStamp}}</ion-card-title>
        <ion-icon class="mark-icon" [ngStyle]="{background: getIcon(attendance).color}"
          [name]="getIcon(attendance).name"></ion-icon>
      </ion-card-header>
      <ion-card-content class="d-flex justify-content-between flex-wrap pb-0">
        <ion-card-subtitle class="w-100">Name: {{attendance.name}}</ion-card-subtitle>
        <ion-card-subtitle class="w-100">Registration number: {{attendance.studentId}}</ion-card-subtitle>
      </ion-card-content>
      <ion-card-content class="d-flex justify-content-between flex-wrap">
        <ion-card-subtitle>Morning: {{attendance.morning.length > 0 ? attendance.morning : '--/--'}}</ion-card-subtitle>
        <ion-card-subtitle>Evening: {{attendance.evening.length > 0 ? attendance.evening : '--/--'}}</ion-card-subtitle>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #noRecordFound>
    <ion-card class="p-2 d-flex justify-content-center">No record found.</ion-card>
  </ng-template>
</ion-content>
