<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container d-flex flex-column justify-content-between">
    <div>
      <h2>Today's Status</h2>
      <ion-card class="my-4">
        <div class="d-flex justify-content-between px-3 py-4">
          <div class="d-flex flex-column">
            <span class="fs-5">Morning</span>
            <span class="fs-6 fw-bold">09:35 AM</span>
          </div>
          <div class="d-flex flex-column">
            <span class="fs-5">Evening</span>
            <span class="fs-6 fw-bold">08:20 PM</span>
          </div>
        </div>
      </ion-card>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <ion-button>
        Give attendance
      </ion-button>
    </div>
  </div>
</ion-content>
